/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;

}

html {
  width: 100%;
}


body {
  background-color: #1E1E1E;
  overflow-x: clip;
  min-zoom: 1;
  max-zoom: 1;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #1E1E1E;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: solid 2px white;
  padding-bottom: 1rem;
}

.archive {
  margin-bottom: 10%;
  vertical-align: middle;
  width: 100%;
  display: grid;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.BuyTickets {
  width: 15%;
  margin-left: 5%;
  border-radius: 20px;
  float: right;
}

.community {
  position: absolute;
  height: 130%;
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: center;
  margin-bottom: 10%;
}



.card {
  margin: auto;
}

.upcomingEvent {
  width: 100%;
  display: absolute;

  margin-bottom: 10%;
}

.centerText {
  position: absolute;
  display: grid;
  margin-top: 20%;
  justify-self: center;
  z-index: 1;
}

.buyTickets {
  position: relative;
  display: none;
}

.hamburgerButton {
  float: right;
  display: none;
}

.HambugerBarOptions {
  
  background-color: blur(10px);
  backdrop-filter: blur(0px);
  height: 5200px;
  width: 37%;
  position: absolute;
  z-index: 1;
  float: right;
  margin-left: 62%;
  display: none;
  color: white;
}

.phoneOptions {
  margin-top: 10%;
  margin-left: 61%;
  font-family: myFirstFont;
  font-size: 6rem;
  font-weight: 1;
}


@media only screen and (min-width: 300px) and (max-width: 600px) {
  html {
    zoom: .2;
    max-zoom: .2;
    min-zoom: .2;
  }
  .text {
    width: 100% !important;
  }
  .navBarContainer {
   display: none;
  }

  .footerOptionsIcon {
    zoom: 0.2;
    display: none;
  }
  .hamburgerButton {
    display: block;
    height: 100px;
    width: 100px;

  }
  .imageforbutton {
    height: 70%;
    width: 70%;
  }

  .navOptions {
    margin-left: 20% !important;
    display: none;
  }
  .phoneOptions {
    margin-top: 10%;
    margin-left: 61%;
    font-family: myFirstFont;
    font-size: 2rem;
    font-weight: 1;
  }

  .buyButton {
    display: none;
  }

 
}

@media only screen and (min-width: 600px) and (max-width: 1920px) {
  html {
    zoom: .4;
    max-zoom: .4;
    min-zoom: .4;
    width: 100%;
    
  }
  .text {
    width: 100vw;
    margin: 0;
  }
  .navBarContainer {
    width: 100%;
  }



 
}

#waitlistConfirm {
  position: sticky;
    display: none;
    bottom: -34rem;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: blur(10px);
    margin: auto;
    backdrop-filter: blur(20px);
    width: 100%;
}

.submitButton{
  float: right;
  margin-right: 10%;
}

@media only screen and (min-width: 800px) {
  html {
    zoom: .9;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    zoom: 1;
  }
}


.eventGrid {
  position: absolute;
  margin-top: 10%;
  display: flex;
  width: 100%;
  height: fit-content;
  z-index: 0;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.UpcomingText {
  margin-bottom: 20%;
  z-index: 1;
}

.centerArchive {
  position: relative;
  display: inline-grid;
  margin-top: 5%;
  justify-items: center;
  padding-bottom: 5%;
}

.eventBar {
  width: 100%;
  display: block;
}

#eventOne {
  display: block;
}

#about {
  width: 100%;
}

.center {
  margin-left: 5%;
  margin-bottom: 20%;
  margin-right: 5%;
}

.eventSolus {
  display: none;
  width: 100%;
}

.textMerch {
  margin-bottom: 6%;
}

.icon {
  position: absolute;
  display: flex;
  margin-left: 5%;
  margin-top: 3%;
}

.footerOptions {
  position: absolute;
  display: flex;
  margin-top: 4%;
  margin-left: 15%;
  justify-items: center;
}

.grid {
  display: flex;
  justify-content: center;
}

.navOptions {
  position: absolute;
  display: flex;
  margin-left: 32%;
  justify-items: center;
  z-index: 1;
  font-size: x-large;
}

.socialMedia {
  position: absolute;
  display: flex;
  margin-top: 4%;
  margin-left: 60%;
  justify-items: center;
}

.footerOptionsIcon {
  margin-left: 20%;
}

.leftText {
  position: absolute;
  display: inline-grid;
  margin-left: 5%;
  margin-top: 5%;
  justify-items: left;
}

.textHero {
  margin-bottom: 20%;
  justify-self: center;
}

#widthHundred {
  width: 100%;
}

.place {
  margin-bottom: 2%;

}

.iconNav {
  position: absolute;
  display: flex;
  margin-left: 5%;
  margin-top: 1%;
}

.next {
  float: right;
  color: white;
  background-color: red;
  border: none;
  padding: 10px 80px 0px 80px;
  border-radius: 12px;
  font-family: 'myFirstFont';
  font-size: xxx-large;
}

.selectTshirt {
  color: white;
  font-family: myFirstFont;
  font-weight: 1;
  font-size: xxx-large;
  margin-right: 10%;
  max-width: max-content;
  max-height: min-content;
}

#backgroundTshirtSize {
  z-index: -1;
    position: relative;
    bottom: 113px;
    right: 69px;
}
.labelForSize{
  font-family: myFirstFont;
  font-size: x-large;
}

.tshirtSizeContainer{
  display: flex;
}
.buyButtonPhone {
  position: absolute;
  margin-left: 90%;
  margin-top: 2.5rem;
  float: right;
  height: 2.5rem;
  border-radius: 12px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: myFirstFont;
  font-size: xx-large;
  background-color: black;
  color: white;
  border: none;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
}

.buyButton {
  position: absolute;
  margin-left: 90%;
  margin-top: 2.5rem;
  float: right;
  height: 2.5rem;
  border-radius: 12px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: myFirstFont;
  font-size: xx-large;
  background-color: black;
  color: white;
  border: none;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;

}

.mainContainerHome {
  display: block;
}

.aboutSolus {
  display: none;
}

.communityMain {
  display: none;
  margin-bottom: 10%;
  vertical-align: middle;
  padding-top: 10%;
}

.mosaic {
  float: right;
  margin-bottom: 20%;
  margin-left: 5%;
}

.whoAreWeContiner {
  display: none;
  margin-bottom: 20%;
}

.iconWhoAreWe {
  position: absolute;
  display: inline-grid;
  margin-left: 5%;
  margin-top: 20%;
  justify-items: left;
}

.textWhoAreWe {
  position: absolute;
  display: inline-grid;
  margin-left: 40%;
  margin-top: 20%;
}

.waitList {
  background-color: rgb(61, 58, 60);
  margin-left: 5%;
  width: 90%;
  height: 100%;
  margin-right: 5%;
  border-radius: 25px;
  display: none;
}

.waitListContainer {
  height: 100%;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #E84438;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
svg,
video {
  vertical-align: middle;
}

.merch {
  padding-bottom: 10%;
  width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.widthHundred {
  width: 100%;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.text {
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
  display: grid;
  justify-content: center;
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.cardGrid {

  display: flex;
  justify-content: center;
  width: 100%;
}

.navBarContainer {
  position: relative;
  top: 0;
  backdrop-filter: blur(0px);
  z-index: 2;
  background: '';
  width: 100%;
}

.footerOptionsIcon {
  z-index: 1;

  color: white;
  font-family: myFirstFont;
  font-weight: 1;

}

@font-face {
  font-family: myFirstFont;
  src: url("/doc/Bowser.ttf");

}

.footerOptionsIcon:hover {
  text-shadow: 0 0 20px #fff, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black, 0 0 80px black;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: fit-content;
  margin: auto;
  perspective: 1000px;
  padding-right: 7%;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.eventGrid:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 85%;
  bottom: 80px;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.textInput {
  background: transparent;
  background-image: url(/img/Input.png);
  width: 1396px;
  height: 55px;
}

.formRegister {
  position: relative;
  width: 96%;
  z-index: 1;
  margin-left: 2%;
  background-color: rgb(61, 58, 60);
  display: inline-grid;
  justify-content: center;
  margin-top: 5%;
  border-radius: 10px;
}

#OptionsForTickets {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblack;
  color: white;
  transform: rotateY(180deg);
}

.textBlr {
  position: absolute;
  top: 10px;
  left: 10px;
}

.archiveSolus {
  display: none;
}

.hero {
  width: 100%;
  display: grid;
}

#heroImage {
  filter: blur(50px);
  width: 100%;
}

#whiteBoundry {
  opacity: 0;
}

.blur {
  -webkit-animation: blur 0.5s linear forwards;
  -moz-animation: blur 0.5s linear forwards;
  -ms-animation: blur 0.5s linear forwards;
  -o-animation: blur 0.5s linear forwards;
  animation: blur 0.5s linear forwards;
}

.delay {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

#merchPage {
  display: none;
  padding-top: 15%;
}

.merchContainer {
  margin-left: 5%;
  display: flex;
}

.rightText {
  display: block;
  float: left;
}

.merchText {
  margin-left: 10%;
}

.options_button {
  padding-top: 10%;
  width: 100%;
  padding-bottom: 10%;
}

.white {
  color: white;
  margin-left: 2%;
}

.waitListText {
  position: absolute;
  left: 40%;
  padding-top: 50px;
  z-index: 1;
}

.red {
  left: 80%;
  position: relative;
  bottom: 150px;
}

.waitListForm {
  margin-left: 9%;
}

.completeButton {
  float: right;
}

@-webkit-keyframes blur {
  to {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-moz-keyframes blur {
  to {
    -moz-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes blur {
  to {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    filter: blur(0);
  }
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

div {
  display: inline-block;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {


  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}